# Version 1.0
# Keep it on ~/.config/systemd/user/

# Run the following...
# systemctl --user enable wpcli-update.timer
# systemctl --user start wpcli-update.timer

[Unit]
Description=wpcli update timer

[Timer]
OnCalendar=weekly
RandomizedDelaySec=1h
Persistent=false

[Install]
WantedBy=timers.target
